    :root {
        --background-color: #0D1117;
        --text-color: #7D8590;
        --link-color: #7289DA;
        --link-color-hover: #7289DA;
        --title-background-color: #010409;
        --title-border: 1.5px solid rgba(0,0,0,1);
        --entire-border: 5px solid #000000ff;

    }

/*Main Content*/
    html {
        background: #f3efe6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: 7px;
        padding: 20px;
        outline: auto;
    }

/*Flex*/

    .flex-item {
        display: flex;
        border: 1px;
        height: auto;
        padding: 5px;
    }

    .flex-item div {
        padding: 10px;
        border: 1px solid black;
        flex-direction: column;
        justify-content: space-between;
    }

/*Section 1*/

    .flex-item-column {
        flex: 8;
        box-shadow: 0 0 3px black;
        padding: 2.2rem;
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    img.evolutionAI:hover {
        width: 720px;
        transition: 1s;
        filter:none;
    }
 
/*Class Details*/

    .title {
        border-width: 20px;
        border: 1px solid black;
        height: auto;
        text-align: center;

    }

    .flex-list {
        display: flex;
        border: 10px black solid;
        padding: 5px;

    }
