    :root {
        --background-color: #0D1117;
        --text-color: #7D8590;
        --link-color: #7289DA;
        --link-color-hover: #7289DA;
        --title-background-color: #010409;
        --title-border: 1.5px solid rgba(0,0,0,1)

    }


/*Main Content*/
    html {
        background: #f5e8c6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin:7px;
        padding: 100px;
        height: 100vh;
    }
    section {
        margin-bottom: 3vh;
    }

    .section-one h1 {
        font-size: 100px;
        color: #7289DA;
    }

    .section-one p {
        font-style: oblique;
        font-family: monospace;
    }
/*Class Details*/

    .title {
        background: linear-gradient(to right, #531de9ff, rgb(6, 0, 22));
        border-radius: 7.5px;
        border: var(--title-border);
        color: aliceblue;
        font-size: x-large;
        width: fit-content;
        margin: auto;
    }
    h3 {
        font-size: large;
        font-weight: bold;
        color: #7289DA;
    }
    .navUI {}

/* Meet The Team Elements */

    #Members {
        display: flex;
        border: 1px black solid;
        padding: 5px;
    }

    #Members > div {
        padding: 10px;
        border: 1px black solid;
        text-align: center;
        flex-direction: column;
    }

    img#NourAlhussein {
        width:200px;
        box-sizing: border-box;
        object-fit: cover;
    }
