/* Meet The Team Elements */

    .Membersh3 {
        font-size: 2rem;
        font-weight: bold;
        color: #7289DA;
    }

    #Members {
        display: flex;
        border: 1px black solid;
        padding: 5px;
    }

    #Members > div {
        padding: 10px;
        border: 1px black solid;
        text-align: center;
        flex-direction: column;
    }

    img#NourAlhussein {
        width:200px;
        box-sizing: border-box;
        object-fit: cover;
    }
