/* Meet The Team Elements */

    html {
        background: #f5e8c6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin:7px;
        padding: 100px;
        height: 100vh;
    }

    .Membersh3 {
        font-size: 32px;
        font-weight: bold;
        color: #7289DA;
    }

    #Membersh2 {
        font-size: 26px;
        font-weight: bold;
        color: #7289DA;
    }
    
    #Members {
        display: flex;
        border: 1px black solid;
        padding: 5px;
    }

    #Members > div {
        padding: 10px;
        border: 1px black solid;
        text-align: center;
    }

    img#NourAlhussein {
        width:200px;
        box-sizing: border-box;
        object-fit: cover;
    }

    img#RubyatTasnuvaHasan {
        width:200px;
        box-sizing: border-box;
        object-fit: cover;
    }